

@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=Jockey+One&family=Noto+Sans+JP:wght@100&family=Poppins:wght@500&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
    list-style: none;
}

.form-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}
.form {
    border-radius: 2px;
    padding: 300px;
    margin-top: -100px;
    
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

#nama {
    border-top-right-radius: 20px;
    height: 50px;
    border-top-left-radius: 20px;
    width: 600px;
    border: none;
    border-bottom: 1px solid black;
}
#inp {
    margin-top: -15px;
    position: absolute;
    width: 600px;
    height: 100px;
    border: none;
    resize: none;
    
}


button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}
#submit {
    margin-top: 100px;
}
@media (max-width: 680px) {
    #nama {
        border-top-right-radius: 20px;
        height: 40px;
        border-top-left-radius: 20px;
        width: 200px;
        border: none;
        border-bottom: 1px solid black;
    }
    #inp {
        margin-top: -15px;
        position: absolute;
        width: 200px;
        height: 100px;
        border: none;
        resize: none;
        
    }
    button {
        background-color: #000000;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 200px;
    }
}